<h1>Sakereco</h1>
<h3>Sake詳細</h3>
<div class="sake">
<%= image_tag @sake.image_url, size: "250x200" if @sake.image? %>
<p><%= @sake.shop_name %></p>
<p><%= @sake.area %></p>
<p><%= @sake.cost %></p>
<p><%= @sake.genre %></p>
<p><%= @sake.time %></p>
<p><%= @sake.text %></p>
<p><%= @sake.user.email %></p>
  <p><%= @sake.created_at %></p>
  <% if user_signed_in? %>
      <% if current_user.already_liked?(@sake) %>
        <%= button_to sake_like_path(@sake), method: :delete do %>
            <i class="fas fa-heart"></i><%= @sake.likes.count %>
        <% end %>
      <% else %>
        <%= button_to sake_likes_path(@sake), method: :post do %>
            <i class="far fa-heart"></i><%= @sake.likes.count %>
        <% end %>
      <% end %>
    <% else %>
    <i class="far fa-heart"></i><%= @sake.likes.count %>
    <% end %>
  <%= link_to "編集する", edit_sake_path(@sake.id) %>
</div>

<h2>いいねしたユーザー</h2>
<% @sake.liked_users.each do |user| %>
  <li><%= user.email %></li>
<% end %>
</div>

<%= link_to "一覧に戻る", sakes_path %>
